.mainWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: calc(100vh - 80px);
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.itemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100vw - 55px) / 3);
  height: calc((100vh - 80px) / 2);
  transition: background-color 500ms linear;
}

.itemWrapper:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.button {
  width: 25px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  outline: none;
  border: none;
}

.buttonLeft {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background-position: -25px;
  background-repeat: no-repeat;
  transition: background-position 500ms linear;
}

.buttonRight {
  background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background-position: 25px;
  background-repeat: no-repeat;
  transition: background-position 500ms linear;
}

.buttonLeft:hover {
  background-position: 0px;
}

.buttonRight:hover {
  background-position: 0px;
}

@media screen and (max-width: 630px) {
.itemWrapper {
    width: calc((100vw - 80px) / 2);
    height: calc((100vh - 80px) / 3);
  }
}
