.containerMain {
  /* width: 100%; */
  margin: 0 auto;
      background: radial-gradient(circle at top,
      /* #ee7752, #e73c7e, #23a6d5, #23d5ab */
      #000000, #4e3b48, #2e1e29, #360e2c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  /* background-size: contain;
  background-repeat: no-repeat; */
  margin-top: 90px;
  min-height: 100vh;
}

@media screen and (max-width: 630px) {
  .containerMain {
    margin-top: 67px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}