.buttonWrapper {
  display: flex;
}

.buttonWrapper button {
  width: 50%;
  justify-content: center;
}

.buttonNo:hower {
  color: red;
}

.buttonYes:hover,
.buttonYes:focus {
  position: absolute;
  top: -100;
  bottom: -100;
  width: 5%;
}