.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogo {
  color: white;
  font-family: 'Montserrat', monospace;
  font-weight: 300;
  font-size: 50px;
}

.button {
  position: fixed;
  left: 5px
}

.lock {
  transition-duration: 500ms;
  transition-delay: 5ms;
}

.lock:hover {
  color: red;
  transform: rotate(90deg);
}

@media screen and (max-width: 630px) {
  .headerLogo {
    font-size: 30px;
  }
}
